# Terraform
terraform/*.terraform
terraform/*.tfstate
terraform/*.tfstate.backup

# Node
node_modules/

# Build output
build/

# Large binaries
jenkins.war
awscliv2.zip

# OS / temp
.DS_Store
*.log

# Terraform cache (important)
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# Node
node_modules/

# Build
build/
